#Ordinary {
  color: rgba(252, 101, 101, 0.938);
}
#Primitive {
  color: rgb(248, 53, 53);
}
#Mutant {
  color: rgb(255, 0, 0);
}
#Sacred-Blood {
  color: rgb(185, 8, 8);
}
#Super {
  color: rgb(136, 0, 0);
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body {
  background-color: lightgrey;
}
h1 {
  background-color: rgb(85, 84, 84);
  color: white;
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
